body {
    background-color: rgb(20, 25, 30);
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content 1fr;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
}

* {
    color: rgb(154, 162, 163);
    font-family: Arial, Helvetica, sans-serif;
}

#main-body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    grid-row-start: 2;
    grid-column-start: 2;
}

.section {
    padding: 1rem;
    background-color: rgba(45, 50, 50, 0.25);
    margin: 0.6rem;
}

#header {
    width: 100%;
    height: 2rem;
    margin: 0px;
    display: flex;
    flex-direction: row;
    border-bottom: rgb(36, 36, 36) solid 1px;
    background-color: rgb(15, 20, 23);
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

#header h1 {
    margin: 0px 1rem 0px 1rem;
}

#header button {
    border-style: none;
    border-radius: 0px;
    color: rgb(135, 135, 135);
    background-color: rgba(45, 50, 50, 0.25);
    height: 100%;
    padding: 0.4rem 1rem 0.4rem 1rem;
}

#header button:hover {
    background-color: rgba(45, 50, 50, 0.5);
}

#header button:active {
    background-color: rgba(45, 50, 50, 0.7);
}

#toolbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-column-start: 1;
    grid-row-start: 2;
    width: 3rem;
    display: flex;
    display: none;
    flex-direction: column;
    background-color: rgb(15, 20, 23);
    border-right: solid 1px rgb(35, 38, 39);
    border-top: solid 5px rgb(12, 12, 16);
}

#toolbar button {
    border-radius: 0px;
    background-color:rgb(38, 40, 43);
    color:rgb(112, 140, 170);
    border-style: none;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding: 1rem;
    position: initial;
}

#toolbar button:hover {
    color: white;
    background-color:rgb(17, 38, 50);
    outline: solid 1px cyan;
    outline-offset: -1px;
    padding-left: 1.4rem;
}

#toolbar button:active {
    background-color: rgb(59, 99, 99);
    padding-left: 1.2rem;
}

#user-input {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

#input-field {
    resize: vertical;
    display: flex;
    flex-grow: 1;
    overflow: auto;
    background-color:rgb(24, 25, 29);
    color: white;
    border-radius: 0px;
    padding: 0.9rem;
    border-style: none;
    max-height: 40vh;
    min-height: fit-content;
}

#input-field:focus {
    outline: none;
    border: none;
}

#send-button {
    height: 2.5rem;
    width: 10%;
    background-color: rgb(45, 82, 124);
    color: white;
    border-style: none;
    padding: 0.8rem;
    align-self: center;
    margin-left: 1rem;
    --cut: 12px;
    clip-path: polygon(
        0% 0%, calc(100% - var(--cut)) 0%, 
        100% var(--cut), 100% 100%, 
        calc(100% - var(--cut)) 100%, var(--cut) 100%, 
        0% calc(100% - var(--cut)), 0% var(--cut)
    );
    }

#send-button:hover {
    background-color: rgb(60, 108, 170);
}

#send-button:active {
    background-color: rgb(9, 95, 145)
}

#chat-history {
    margin: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#chat-history h3 {
    align-self: center;
    color: rgba(189, 198, 198, 0.3);
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
}

.message {
    padding: 0px;
    margin: 0.5rem 0rem 0.5rem 0rem;
    display: flex;
    flex-direction: column;
}

.user {
    border: 1px solid;
    border-color: #619696;
    color: #619696;
    background-color: transparent;
    padding: 0.6rem;
    width: fit-content;
    align-self: flex-end;
    max-width: 75%;
    display: flex;
}

.bot {
    max-width: 85%;
    padding: 0.6rem;
    width: fit-content;
    display: block;
    white-space: pre-wrap;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.new-token {
    color: rgb(45, 228, 228);
    animation: fadeIn 0.07s ease-in forwards;
}

#eoc-spacer {
    width: 100%;
    height: 0px;
    margin-bottom: 53vh;
    background-color: transparent;
}